In [50]:
import pandas as pd
from IPython.display import display

from xcai.basics import *

### Helper function

In [51]:
def metrics(a,b,c,x,y):
    return {'P@1':a, 'P@5':b,'N@5':c, 'PSP@1':x, 'PSP@5':y}

def display_results(metric, index):
    with pd.option_context('display.precision', 2):
        display(pd.DataFrame(metric, index=index))

### `Teacher`

In [7]:
# wikiseealsotitles
m = {'test_loss': 0.016681302338838577, 'test_P@1': 0.47479367940737405, 'test_P@10': 0.14173393797699302, 'test_P@3': 0.30295280211078307, 'test_P@5': 0.22635495591925775, 'test_N@1': 0.4747936725616455, 'test_N@10': 0.5081887245178223, 'test_N@3': 0.46679285168647766, 'test_N@5': 0.48181095719337463, 'test_PSP@1': 0.3659764403986233, 'test_PSP@10': 0.47102664459277543, 'test_PSP@3': 0.38466570585689525, 'test_PSP@5': 0.4126957923700924, 'test_PSN@1': 0.3659764528274536, 'test_PSN@10': 0.4537607729434967, 'test_PSN@3': 0.3976207375526428, 'test_PSN@5': 0.42237570881843567, 'test_R@200': 0.7736651615675022, 'test_R@10': 0.5737313838358737, 'test_R@100': 0.7436145963127184, 'test_runtime': 239.3287, 'test_samples_per_second': 741.721, 'test_steps_per_second': 0.464}
display_metric(m)

,P@1,P@3,P@5,P@10,N@1,N@3,N@5,N@10,PSP@1,PSP@3,PSP@5,PSP@10,PSN@1,PSN@3,PSN@5,PSN@10,R@10,R@100,R@200,loss,runtime,samples_per_second,steps_per_second
0,47.4794,30.2953,22.6355,14.1734,47.4794,46.6793,48.1811,50.8189,36.5976,38.4666,41.2696,47.1027,36.5976,39.7621,42.2376,45.3761,57.3731,74.3615,77.3665,0.0167,239.3287,741.721,0.464

In [10]:
# wikititles
m = {'test_loss': 0.017709823325276375, 'test_P@1': 0.6604039844693987, 'test_P@10': 0.1922625146260841, 'test_P@3': 0.4427169790774948, 'test_P@5': 0.3219657464253877, 'test_N@1': 0.6604039669036865, 'test_N@10': 0.5267409682273865, 'test_N@3': 0.5628888010978699, 'test_N@5': 0.534044623374939, 'test_PSP@1': 0.38866437063552794, 'test_PSP@10': 0.45216630925636925, 'test_PSP@3': 0.41840363402702435, 'test_PSP@5': 0.4250382267401933, 'test_PSN@1': 0.3886643648147583, 'test_PSN@10': 0.47987130284309387, 'test_PSN@3': 0.42873772978782654, 'test_PSN@5': 0.4506883919239044, 'test_R@200': 0.702557668379058, 'test_R@10': 0.510692117939397, 'test_R@100': 0.663280306014536, 'test_runtime': 580.8063, 'test_samples_per_second': 1349.405, 'test_steps_per_second': 0.844}
display_metric(m)

,P@1,P@3,P@5,P@10,N@1,N@3,N@5,N@10,PSP@1,PSP@3,PSP@5,PSP@10,PSN@1,PSN@3,PSN@5,PSN@10,R@10,R@100,R@200,loss,runtime,samples_per_second,steps_per_second
0,66.0404,44.2717,32.1966,19.2263,66.0404,56.2889,53.4045,52.6741,38.8664,41.8404,42.5038,45.2166,38.8664,42.8738,45.0688,47.9871,51.0692,66.328,70.2558,0.0177,580.8063,1349.405,0.844

In [5]:
# wikiseealso

In [6]:
# wikipedia

### `momos`

In [9]:
# wikiseealsotitles
m = {'test_loss': 0.20433445274829865, 'test_P@1': 0.3429512998901501, 'test_P@10': 0.11108300706984563, 'test_P@3': 0.23351829422867218, 'test_P@5': 0.17679632707113338, 'test_N@1': 0.34295129776000977, 'test_N@10': 0.37233859300613403, 'test_N@3': 0.3428209722042084, 'test_N@5': 0.35341933369636536, 'test_PSP@1': 0.27993850226241385, 'test_PSP@10': 0.376466313139454, 'test_PSP@3': 0.30754761672224956, 'test_PSP@5': 0.3316568403739362, 'test_PSN@1': 0.2799384891986847, 'test_PSN@10': 0.34672781825065613, 'test_PSN@3': 0.30699291825294495, 'test_PSN@5': 0.3245813846588135, 'test_R@200': 0.5835736040171667, 'test_R@10': 0.4208163969078128, 'test_R@100': 0.5554816765045649, 'test_runtime': 280.87, 'test_samples_per_second': 632.018, 'test_steps_per_second': 0.395}
display_metric(m)

,P@1,P@3,P@5,P@10,N@1,N@3,N@5,N@10,PSP@1,PSP@3,PSP@5,PSP@10,PSN@1,PSN@3,PSN@5,PSN@10,R@10,R@100,R@200,loss,runtime,samples_per_second,steps_per_second
0,34.2951,23.3518,17.6796,11.1083,34.2951,34.2821,35.3419,37.2339,27.9939,30.7548,33.1657,37.6466,27.9938,30.6993,32.4581,34.6728,42.0816,55.5482,58.3574,0.2043,280.87,632.018,0.395

In [8]:
# wikititles

### `momos oracle`

In [57]:
# wikiseealsotitles
m = {'test_loss': 0.19825103878974915, 'test_P@1': 0.37074050080274906, 'test_P@10': 0.1188265780356551, 'test_P@3': 0.25063421870457464, 'test_P@5': 0.18944990564195896, 'test_N@1': 0.37074050307273865, 'test_N@10': 0.4057261645793915, 'test_N@3': 0.3724217712879181, 'test_N@5': 0.3848222494125366, 'test_PSP@1': 0.2962928678575879, 'test_PSP@10': 0.3982671959567921, 'test_PSP@3': 0.32501365704165813, 'test_PSP@5': 0.35058293049541067, 'test_PSN@1': 0.29629287123680115, 'test_PSN@10': 0.37048059701919556, 'test_PSN@3': 0.3266501724720001, 'test_PSN@5': 0.3462205231189728, 'test_R@200': 0.6369637154078921, 'test_R@10': 0.4608445217062401, 'test_R@100': 0.6069939450201214, 'test_runtime': 245.6463, 'test_samples_per_second': 722.645, 'test_steps_per_second': 0.452}
display_metric(m)

,P@1,P@3,P@5,P@10,N@1,N@3,N@5,N@10,PSP@1,PSP@3,PSP@5,PSP@10,PSN@1,PSN@3,PSN@5,PSN@10,R@10,R@100,R@200,loss,runtime,samples_per_second,steps_per_second
0,37.0741,25.0634,18.945,11.8827,37.0741,37.2422,38.4822,40.5726,29.6293,32.5014,35.0583,39.8267,29.6293,32.665,34.6221,37.0481,46.0845,60.6994,63.6964,0.1983,245.6463,722.645,0.452

In [62]:
# wikiseealsotitles
# number of categories: 5
m = {'test_loss': 0.19786709547042847, 'test_P@1': 0.3702391347210095, 'test_P@10': 0.11890882460636706, 'test_P@3': 0.25066050756279223, 'test_P@5': 0.18955468551971572, 'test_N@1': 0.37023913860321045, 'test_N@10': 0.405764102935791, 'test_N@3': 0.3722630441188812, 'test_N@5': 0.38483309745788574, 'test_PSP@1': 0.2960730216869164, 'test_PSP@10': 0.398552853430692, 'test_PSP@3': 0.3251863600330204, 'test_PSP@5': 0.3508256123083663, 'test_PSN@1': 0.2960730195045471, 'test_PSN@10': 0.37052610516548157, 'test_PSN@3': 0.32662031054496765, 'test_PSN@5': 0.3462768495082855, 'test_R@200': 0.6386829313483762, 'test_R@10': 0.46123652095134443, 'test_R@100': 0.6081462389523458, 'test_runtime': 295.7903, 'test_samples_per_second': 600.138, 'test_steps_per_second': 0.375}
o = display_metric(m)

# number of categories: 10
m = {'test_loss': 0.19777467846870422, 'test_P@1': 0.3701490014928316, 'test_P@10': 0.11889079796073136, 'test_P@3': 0.2505403299252217, 'test_P@5': 0.1895377855394318, 'test_N@1': 0.37014901638031006, 'test_N@10': 0.4056752026081085, 'test_N@3': 0.37211939692497253, 'test_N@5': 0.38474544882774353, 'test_PSP@1': 0.2961520500099008, 'test_PSP@10': 0.39854476945783035, 'test_PSP@3': 0.3251778360242046, 'test_PSP@5': 0.35086973315236486, 'test_PSN@1': 0.2961520552635193, 'test_PSN@10': 0.3705241084098816, 'test_PSN@3': 0.3266165852546692, 'test_PSN@5': 0.346291184425354, 'test_R@200': 0.639163230813345, 'test_R@10': 0.46118741409794906, 'test_R@100': 0.6085032436962176, 'test_runtime': 390.59, 'test_samples_per_second': 454.479, 'test_steps_per_second': 0.284}
display_metric(m)

,P@1,P@3,P@5,P@10,N@1,N@3,N@5,N@10,PSP@1,PSP@3,PSP@5,PSP@10,PSN@1,PSN@3,PSN@5,PSN@10,R@10,R@100,R@200,loss,runtime,samples_per_second,steps_per_second
0,37.0239,25.0661,18.9555,11.8909,37.0239,37.2263,38.4833,40.5764,29.6073,32.5186,35.0826,39.8553,29.6073,32.662,34.6277,37.0526,46.1237,60.8146,63.8683,0.1979,295.7903,600.138,0.375

,P@1,P@3,P@5,P@10,N@1,N@3,N@5,N@10,PSP@1,PSP@3,PSP@5,PSP@10,PSN@1,PSN@3,PSN@5,PSN@10,R@10,R@100,R@200,loss,runtime,samples_per_second,steps_per_second
0,37.0149,25.054,18.9538,11.8891,37.0149,37.2119,38.4745,40.5675,29.6152,32.5178,35.087,39.8545,29.6152,32.6617,34.6291,37.0524,46.1187,60.8503,63.9163,0.1978,390.59,454.479,0.284

In [68]:
# wikititles
m = {'test_loss': 0.06927984207868576, 'test_P@1': 0.45808128429855194, 'test_P@10': 0.09496620703453507, 'test_P@3': 0.24056737986854726, 'test_P@5': 0.16484255680662488, 'test_N@1': 0.45808127522468567, 'test_N@10': 0.32611966133117676, 'test_N@3': 0.34089207649230957, 'test_N@5': 0.32468974590301514, 'test_PSP@1': 0.2692115310141104, 'test_PSP@10': 0.24277318787610716, 'test_PSP@3': 0.24363384608297156, 'test_PSP@5': 0.23566574430676646, 'test_PSN@1': 0.2692115306854248, 'test_PSN@10': 0.31049057841300964, 'test_PSN@3': 0.27161550521850586, 'test_PSN@5': 0.28750190138816833, 'test_R@200': 0.4766446025879506, 'test_R@10': 0.3208551847210097, 'test_R@100': 0.4399206996658419, 'test_runtime': 1554.1354, 'test_samples_per_second': 504.295, 'test_steps_per_second': 0.631}
display_metric(m)

,P@1,P@3,P@5,P@10,N@1,N@3,N@5,N@10,PSP@1,PSP@3,PSP@5,PSP@10,PSN@1,PSN@3,PSN@5,PSN@10,R@10,R@100,R@200,loss,runtime,samples_per_second,steps_per_second
0,45.8081,24.0567,16.4843,9.4966,45.8081,34.0892,32.469,32.612,26.9212,24.3634,23.5666,24.2773,26.9212,27.1616,28.7502,31.0491,32.0855,43.9921,47.6645,0.0693,1554.1354,504.295,0.631

In [77]:
# wikititles
# number of categories: 5
m = {'test_loss': 0.07321329414844513, 'test_P@1': 0.4580889398693194, 'test_P@10': 0.0949674829629965, 'test_P@3': 0.24056057491675414, 'test_P@5': 0.16484026013539468, 'test_N@1': 0.4580889344215393, 'test_N@10': 0.3261234760284424, 'test_N@3': 0.3408890962600708, 'test_N@5': 0.3246893286705017, 'test_PSP@1': 0.2692090893675554, 'test_PSP@10': 0.2427803836190167, 'test_PSP@3': 0.2436241110461253, 'test_PSP@5': 0.2356614507681842, 'test_PSN@1': 0.269209086894989, 'test_PSN@10': 0.3104959726333618, 'test_PSN@3': 0.2716104984283447, 'test_PSN@5': 0.28750085830688477, 'test_R@200': 0.476652661222211, 'test_R@10': 0.3208593249395337, 'test_R@100': 0.439929277887563, 'test_runtime': 1074.2185, 'test_samples_per_second': 729.594, 'test_steps_per_second': 0.456}
o = display_metric(m)

,P@1,P@3,P@5,P@10,N@1,N@3,N@5,N@10,PSP@1,PSP@3,PSP@5,PSP@10,PSN@1,PSN@3,PSN@5,PSN@10,R@10,R@100,R@200,loss,runtime,samples_per_second,steps_per_second
0,45.8089,24.0561,16.484,9.4967,45.8089,34.0889,32.4689,32.6123,26.9209,24.3624,23.5661,24.278,26.9209,27.161,28.7501,31.0496,32.0859,43.9929,47.6653,0.0732,1074.2185,729.594,0.456

### Teacher

In [65]:
models = ['NGAME (teacher)', 'RAMEN (baseline)']
datasets = ['LF-WikiSeeAlsoTitles-320K', 'LF-WikiTitles-500K', 'LF-WikiSeeAlso-320K', 'LF-Wikipedia-500K']

index = pd.MultiIndex.from_tuples([(d, m) for d in datasets for m in models], names=["Dataset", "Model"])

metric = [metrics(47.4794, 22.6355, 48.1811, 36.5976, 41.2696), metrics(35.2, 18.4, 36.5, 29.0,  34.5),
          metrics(66.0404, 32.1966, 53.4045, 38.8664, 42.5038), metrics(46.1, 17.4, 33.8, 30.5, 25.7),
          metrics(50.573, 24.322, 51.423, 36.779, 43.385), metrics(47.29, 23.37, 49.15, 33.81, 41.95),
          metrics(82.54, 48.759, 74.495, 46.612, 59.492), metrics(81.07, 50.1, 75.27, 50.94, 61.84)
         ]

display_results(metric, index)

                                              P@1    P@5    N@5  PSP@1  PSP@5
Dataset                   Model
LF-WikiSeeAlsoTitles-320K NGAME (teacher)   47.48  22.64  48.18  36.60  41.27
                          RAMEN (baseline)  35.20  18.40  36.50  29.00  34.50
LF-WikiTitles-500K        NGAME (teacher)   66.04  32.20  53.40  38.87  42.50
                          RAMEN (baseline)  46.10  17.40  33.80  30.50  25.70
LF-WikiSeeAlso-320K       NGAME (teacher)   50.57  24.32  51.42  36.78  43.38
                          RAMEN (baseline)  47.29  23.37  49.15  33.81  41.95
LF-Wikipedia-500K         NGAME (teacher)   82.54  48.76  74.50  46.61  59.49
                          RAMEN (baseline)  81.07  50.10  75.27  50.94  61.84

### LF-WikiSeeAlsoTitles-320K

In [80]:
dataset_name = 'LF-WikiSeeAlsoTitles-320K'
models = ['teacher', 'momos-oracle', 'oak-oracle', 'momos', 'oak']

index = pd.MultiIndex.from_tuples([(dataset_name, o) for o in models], names=["Dataset", "Model"])

metric = [metrics(47.4794, 22.6355, 48.1811, 36.5976, 41.2696),
          metrics(40.92, 19.97, 40.889, 30.1417, 35.3729),
          metrics(38.92, 19.35, 40.35, 29.69, 34.85),
          metrics(34.2951, 17.6796, 35.3419, 27.9939, 33.1657),
          metrics(32.75, 16.64, 33.65, 25.67, 30.51)]

display_results(metric, index)

                                          P@1    P@5    N@5  PSP@1  PSP@5
Dataset                   Model
LF-WikiSeeAlsoTitles-320K teacher       47.48  22.64  48.18  36.60  41.27
                          momos-oracle  40.92  19.97  40.89  30.14  35.37
                          oak-oracle    38.92  19.35  40.35  29.69  34.85
                          momos         34.30  17.68  35.34  27.99  33.17
                          oak           32.75  16.64  33.65  25.67  30.51

### LF-WikiTitles-500K

In [81]:
dataset_name = 'LF-WikiTitles-500K'
models = ['teacher', 'oak-oracle', 'momos', 'oak']

index = pd.MultiIndex.from_tuples([(dataset_name, o) for o in models], names=["Dataset", "Model"])

metric = [metrics(66.0404, 32.1966, 53.4045, 38.8664, 42.5038),
          metrics(52.53, 24.25, 41.98, 30.62, 32.26),
          metrics(45.0, 16.25, 31.95, 26.43, 23.39),
          metrics(43.80, 17.23, 32.94, 26.00, 24.42)]

display_results(metric, index)

                                 P@1    P@5    N@5  PSP@1  PSP@5
Dataset            Model
LF-WikiTitles-500K teacher     66.04  32.20  53.40  38.87  42.50
                   oak-oracle  52.53  24.25  41.98  30.62  32.26
                   momos       45.00  16.25  31.95  26.43  23.39
                   oak         43.80  17.23  32.94  26.00  24.42

### Ablation

In [85]:
# Contribution of different loss terms
index = pd.MultiIndex.from_tuples([('LF-WikiSeeAlsoTitles-320K','OAK+data-term'), ('LF-WikiSeeAlsoTitles-320K', 'OAK+both'), ('LF-WikiSeeAlsoTitles-320K', 'OAK+label-term'),
                                  ('LF-WikiSeeAlsoTitles-320K', 'OAK+both+label-fp'), ('LF-WikiTitles-500K','OAK+data-term'), ('LF-WikiTitles-500K', 'OAK+both')], 
                                  names=["Dataset", "Loss function"])

metric = [metrics(34.2951, 17.6796, 35.3419, 27.9939, 33.1657),
          metrics(32.51, 16.87, 34.14, 26.83, 31.51),
          metrics(31.10, 16.43, 33.42, 26.13, 30.50),
          metrics('-', '-', '-', '-', '-'),
          metrics(45.0, 16.25, 31.95, 26.43, 23.39),
          metrics(43.53, 16.27, 31.53, 25.87, 23.34),]

display_results(metric, index)

                                               P@1    P@5    N@5  PSP@1  PSP@5
Dataset                   Loss function
LF-WikiSeeAlsoTitles-320K OAK+data-term       34.3  17.68  35.34  27.99  33.17
                          OAK+both           32.51  16.87  34.14  26.83  31.51
                          OAK+label-term      31.1  16.43  33.42  26.13   30.5
                          OAK+both+label-fp      -      -      -      -      -
LF-WikiTitles-500K        OAK+data-term       45.0  16.25  31.95  26.43  23.39
                          OAK+both           43.53  16.27  31.53  25.87  23.34

In [83]:
# distillation with NGAME
index = pd.MultiIndex.from_tuples([('LF-WikiSeeAlsoTitles-320K', 'momos'),('LF-WikiSeeAlsoTitles-320K','NGAME')], names=["Dataset", "Model"])

metric = [metrics(34.2951, 17.6796, 35.3419, 27.9939, 33.1657),
          metrics(32.58, 16.63, 33.588, 27.129, 31.622)]

display_results(metric, index)

                                   P@1    P@5    N@5  PSP@1  PSP@5
Dataset                   Model
LF-WikiSeeAlsoTitles-320K momos  34.30  17.68  35.34  27.99  33.17
                          NGAME  32.58  16.63  33.59  27.13  31.62